## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
#For Colab Enviornment to run file
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

# For Local Jupyter Notebook version ( please uncomment to run the file)
#file_path = "charity_data.csv"
#application_df = pd.read_csv(file_path)
#application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# To check details of the data
print(application_df)

             EIN                                               NAME  \
0       10520599                       BLUE KNIGHTS MOTORCYCLE CLUB
1       10531628             AMERICAN CHESAPEAKE CLUB CHARITABLE TR
2       10547893                 ST CLOUD PROFESSIONAL FIREFIGHTERS
3       10553066                     SOUTHSIDE ATHLETIC ASSOCIATION
4       10556103           GENETIC RESEARCH INSTITUTE OF THE DESERT
...          ...                                                ...
34294  996009318              THE LIONS CLUB OF HONOLULU KAMEHAMEHA
34295  996010315           INTERNATIONAL ASSOCIATION OF LIONS CLUBS
34296  996012607                                PTA HAWAII CONGRESS
34297  996015768  AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...
34298  996086871                           WATERHOUSE CHARITABLE TR

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 12 columns]

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# Drop the 'EIN' and 'NAME' columns
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

# Display the updated dataframe
print(application_df.head())

  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0              T10       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000     Heathcare

   ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  \
0   Association       1              0                      N     5000
1  Co-operative       1         1-9999                      N   108590
2   Association       1              0                      N     5000
3         Trust       1    10000-24999                      N     6692
4         Trust       1  100000-499999                      N   142590

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [6]:
# Get the number of unique values in each column
unique_counts = application_df.nunique()

# Display the result
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
# Get the value counts of the 'APPLICATION_TYPE' column
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Display the result
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Define the cutoff value (e.g., 100 times as shown in the previous response)
cutoff_value = 100

# Get the value counts of the 'APPLICATION_TYPE' column
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace application types in the 'APPLICATION_TYPE' column with "Other"
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check the value counts after binning
print(application_df['APPLICATION_TYPE'].value_counts())

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the result
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Get the value counts of the 'CLASSIFICATION' column for classes that appear more than once
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_one = classification_counts[classification_counts > 1]

# Display the result
print(classification_counts_greater_than_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# Get the value counts of the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Determine the cutoff value (e.g., if a classification appears fewer than 100 times, we'll consider it for replacement)
cutoff_value = 100

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace classifications in the 'CLASSIFICATION' column with "Other"
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check the value counts after binning
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
# Convert categorical data to numeric using one-hot encoding (pd.get_dummies)
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'CLASSIFICATION'])

# Display the updated dataframe with one-hot encoded columns
print(application_df.head())

        AFFILIATION      USE_CASE  ORGANIZATION  STATUS     INCOME_AMT  \
0       Independent    ProductDev   Association       1              0
1       Independent  Preservation  Co-operative       1         1-9999
2  CompanySponsored    ProductDev   Association       1              0
3  CompanySponsored  Preservation         Trust       1    10000-24999
4       Independent     Heathcare         Trust       1  100000-499999

  SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0                      N     5000              1                       0
1                      N   108590              1                       0
2                      N     5000              0                       0
3                      N     6692              1                       0
4                      N   142590              1                       0

   APPLICATION_TYPE_T10  ...  CLASSIFICATION_C1270  CLASSIFICATION_C1700  \
0                     1  ...                     0                     0
1                     0  ...                     0                     0
2                     0  ...                     0                     0
3                     0  ...                     0                     0
4                     0  ...                     0                     0

   CLASSIFICATION_C2000  CLASSIFICATION_C2100  CLASSIFICATION_C2700  \
0                     0                     0                     0
1                     1                     0                     0
2                     0                     0                     0
3                     1                     0                     0
4                     0                     0                     0

   CLASSIFICATION_C3000  CLASSIFICATION_C4000  CLASSIFICATION_C5000  \
0                     0                     0                     0
1                     0                     0                     0
2                     1                     0                     0
3                     0                     0                     0
4                     0                     0                     0

   CLASSIFICATION_C7000  CLASSIFICATION_Other
0                     0                     0
1                     0                     0
2                     0                     0
3                     0                     0
4                     0                     0

[5 rows x 30 columns]

In [13]:

# Separate the features (X) and the target (y)
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the data into training and testing sets
# The test_size parameter specifies the proportion of the data to be used for testing (e.g., 0.2 for 20%)
# The random_state parameter ensures reproducibility of the split (use any value or set to None for random split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting arrays
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 29)
X_test shape: (6860, 29)
y_train shape: (27439,)
y_test shape: (6860,)

In [14]:
# Filter out non-numeric columns (e.g., 'ORGANIZATION_STATUS' might be a non-numeric column)
numeric_columns = X_train.select_dtypes(include=['number']).columns

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_scaler = scaler.fit(X_train[numeric_columns])

# Scale the numeric features (X_train and X_test)
X_train_scaled = pd.DataFrame(X_scaler.transform(X_train[numeric_columns]), columns=numeric_columns)
X_test_scaled = pd.DataFrame(X_scaler.transform(X_test[numeric_columns]), columns=numeric_columns)

In [15]:

# Define the number of input features
input_features = X_train_scaled.shape[1]  # Number of columns in X_train_scaled

# Initialize the Sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 4,461
Trainable params: 4,461
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model with 80 epochs
history = nn.fit(X_train_scaled, y_train, epochs=80, batch_size=32, validation_split=0.2)

Epoch 1/80
686/686 [==============================] - 3s 3ms/step - loss: 0.6474 - accuracy: 0.6060 - val_loss: 0.6368 - val_accuracy: 0.6192
Epoch 2/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6423 - accuracy: 0.6126 - val_loss: 0.6370 - val_accuracy: 0.6106
Epoch 3/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6408 - accuracy: 0.6140 - val_loss: 0.6359 - val_accuracy: 0.6186
Epoch 4/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6407 - accuracy: 0.6146 - val_loss: 0.6355 - val_accuracy: 0.6144
Epoch 5/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6395 - accuracy: 0.6156 - val_loss: 0.6367 - val_accuracy: 0.6228
Epoch 6/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6395 - accuracy: 0.6178 - val_loss: 0.6364 - val_accuracy: 0.6186
Epoch 7/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6388 - accuracy: 0.6140 - val_loss: 0.6361 - val_accuracy: 0.6201
Epoch 8/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6389 - accuracy: 0.6152 - val_loss: 0.6367 - val_accuracy: 0.6179
Epoch 9/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6384 - accuracy: 0.6179 - val_loss: 0.6358 - val_accuracy: 0.6228
Epoch 10/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6383 - accuracy: 0.6156 - val_loss: 0.6341 - val_accuracy: 0.6239
Epoch 11/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6378 - accuracy: 0.6175 - val_loss: 0.6367 - val_accuracy: 0.6228
Epoch 12/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6383 - accuracy: 0.6162 - val_loss: 0.6357 - val_accuracy: 0.6192
Epoch 13/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6375 - accuracy: 0.6176 - val_loss: 0.6356 - val_accuracy: 0.6232
Epoch 14/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6375 - accuracy: 0.6162 - val_loss: 0.6347 - val_accuracy: 0.6188
Epoch 15/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6379 - accuracy: 0.6163 - val_loss: 0.6346 - val_accuracy: 0.6239
Epoch 16/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6371 - accuracy: 0.6169 - val_loss: 0.6352 - val_accuracy: 0.6206
Epoch 17/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6376 - accuracy: 0.6176 - val_loss: 0.6368 - val_accuracy: 0.6188
Epoch 18/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6373 - accuracy: 0.6159 - val_loss: 0.6366 - val_accuracy: 0.6190
Epoch 19/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6372 - accuracy: 0.6180 - val_loss: 0.6340 - val_accuracy: 0.6199
Epoch 20/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6375 - accuracy: 0.6176 - val_loss: 0.6368 - val_accuracy: 0.6195
Epoch 21/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6372 - accuracy: 0.6161 - val_loss: 0.6349 - val_accuracy: 0.6203
Epoch 22/80
686/686 [==============================] - 2s 4ms/step - loss: 0.6370 - accuracy: 0.6181 - val_loss: 0.6368 - val_accuracy: 0.6190
Epoch 23/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6367 - accuracy: 0.6156 - val_loss: 0.6346 - val_accuracy: 0.6210
Epoch 24/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6370 - accuracy: 0.6171 - val_loss: 0.6355 - val_accuracy: 0.6223
Epoch 25/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6369 - accuracy: 0.6183 - val_loss: 0.6387 - val_accuracy: 0.6194
Epoch 26/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6368 - accuracy: 0.6192 - val_loss: 0.6347 - val_accuracy: 0.6212
Epoch 27/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6371 - accuracy: 0.6183 - val_loss: 0.6338 - val_accuracy: 0.6250
Epoch 28/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6370 - accuracy: 0.6171 - val_loss: 0.6349 - val_accuracy: 0.6212
Epoch 29/80
686/686 [==============================] - 2s 4ms/step - loss: 0.6369 - accuracy: 0.6173 - val_loss: 0.6345 - val_accuracy: 0.6250
Epoch 30/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6367 - accuracy: 0.6192 - val_loss: 0.6349 - val_accuracy: 0.6206
Epoch 31/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6366 - accuracy: 0.6186 - val_loss: 0.6340 - val_accuracy: 0.6210
Epoch 32/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6368 - accuracy: 0.6183 - val_loss: 0.6340 - val_accuracy: 0.6255
Epoch 33/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6365 - accuracy: 0.6157 - val_loss: 0.6340 - val_accuracy: 0.6221
Epoch 34/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6365 - accuracy: 0.6179 - val_loss: 0.6341 - val_accuracy: 0.6212
Epoch 35/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6363 - accuracy: 0.6195 - val_loss: 0.6359 - val_accuracy: 0.6215
Epoch 36/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6363 - accuracy: 0.6193 - val_loss: 0.6339 - val_accuracy: 0.6223
Epoch 37/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6364 - accuracy: 0.6191 - val_loss: 0.6348 - val_accuracy: 0.6257
Epoch 38/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6366 - accuracy: 0.6179 - val_loss: 0.6336 - val_accuracy: 0.6261
Epoch 39/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6364 - accuracy: 0.6194 - val_loss: 0.6335 - val_accuracy: 0.6263
Epoch 40/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6363 - accuracy: 0.6194 - val_loss: 0.6351 - val_accuracy: 0.6224
Epoch 41/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6362 - accuracy: 0.6170 - val_loss: 0.6336 - val_accuracy: 0.6223
Epoch 42/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6362 - accuracy: 0.6199 - val_loss: 0.6350 - val_accuracy: 0.6219
Epoch 43/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6361 - accuracy: 0.6183 - val_loss: 0.6359 - val_accuracy: 0.6224
Epoch 44/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6361 - accuracy: 0.6194 - val_loss: 0.6351 - val_accuracy: 0.6224
Epoch 45/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6362 - accuracy: 0.6181 - val_loss: 0.6340 - val_accuracy: 0.6223
Epoch 46/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6358 - accuracy: 0.6190 - val_loss: 0.6351 - val_accuracy: 0.6272
Epoch 47/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6360 - accuracy: 0.6193 - val_loss: 0.6332 - val_accuracy: 0.6223
Epoch 48/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6363 - accuracy: 0.6208 - val_loss: 0.6337 - val_accuracy: 0.6259
Epoch 49/80
686/686 [==============================] - 2s 4ms/step - loss: 0.6361 - accuracy: 0.6187 - val_loss: 0.6336 - val_accuracy: 0.6259
Epoch 50/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6358 - accuracy: 0.6183 - val_loss: 0.6329 - val_accuracy: 0.6265
Epoch 51/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6360 - accuracy: 0.6193 - val_loss: 0.6340 - val_accuracy: 0.6221
Epoch 52/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6360 - accuracy: 0.6200 - val_loss: 0.6334 - val_accuracy: 0.6241
Epoch 53/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6360 - accuracy: 0.6197 - val_loss: 0.6338 - val_accuracy: 0.6243
Epoch 54/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6359 - accuracy: 0.6201 - val_loss: 0.6334 - val_accuracy: 0.6230
Epoch 55/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6357 - accuracy: 0.6205 - val_loss: 0.6363 - val_accuracy: 0.6235
Epoch 56/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6357 - accuracy: 0.6204 - val_loss: 0.6345 - val_accuracy: 0.6235
Epoch 57/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6357 - accuracy: 0.6199 - val_loss: 0.6348 - val_accuracy: 0.6230
Epoch 58/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6356 - accuracy: 0.6208 - val_loss: 0.6327 - val_accuracy: 0.6237
Epoch 59/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6357 - accuracy: 0.6212 - val_loss: 0.6338 - val_accuracy: 0.6235
Epoch 60/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6355 - accuracy: 0.6211 - val_loss: 0.6332 - val_accuracy: 0.6124
Epoch 61/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6357 - accuracy: 0.6209 - val_loss: 0.6337 - val_accuracy: 0.6265
Epoch 62/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6356 - accuracy: 0.6211 - val_loss: 0.6334 - val_accuracy: 0.6232
Epoch 63/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6351 - accuracy: 0.6230 - val_loss: 0.6340 - val_accuracy: 0.6237
Epoch 64/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6353 - accuracy: 0.6214 - val_loss: 0.6351 - val_accuracy: 0.6239
Epoch 65/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6354 - accuracy: 0.6215 - val_loss: 0.6331 - val_accuracy: 0.6245
Epoch 66/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6352 - accuracy: 0.6221 - val_loss: 0.6350 - val_accuracy: 0.6230
Epoch 67/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6355 - accuracy: 0.6227 - val_loss: 0.6333 - val_accuracy: 0.6277
Epoch 68/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6352 - accuracy: 0.6224 - val_loss: 0.6353 - val_accuracy: 0.6230
Epoch 69/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6352 - accuracy: 0.6220 - val_loss: 0.6344 - val_accuracy: 0.6243
Epoch 70/80
686/686 [==============================] - 3s 4ms/step - loss: 0.6351 - accuracy: 0.6233 - val_loss: 0.6342 - val_accuracy: 0.6245
Epoch 71/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6350 - accuracy: 0.6212 - val_loss: 0.6338 - val_accuracy: 0.6237
Epoch 72/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6350 - accuracy: 0.6233 - val_loss: 0.6333 - val_accuracy: 0.6277
Epoch 73/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6349 - accuracy: 0.6217 - val_loss: 0.6336 - val_accuracy: 0.6237
Epoch 74/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6350 - accuracy: 0.6238 - val_loss: 0.6335 - val_accuracy: 0.6245
Epoch 75/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6347 - accuracy: 0.6218 - val_loss: 0.6323 - val_accuracy: 0.6255
Epoch 76/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6348 - accuracy: 0.6222 - val_loss: 0.6336 - val_accuracy: 0.6268
Epoch 77/80
686/686 [==============================] - 2s 4ms/step - loss: 0.6351 - accuracy: 0.6230 - val_loss: 0.6327 - val_accuracy: 0.6257
Epoch 78/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6348 - accuracy: 0.6216 - val_loss: 0.6332 - val_accuracy: 0.6234
Epoch 79/80
686/686 [==============================] - 2s 3ms/step - loss: 0.6348 - accuracy: 0.6238 - val_loss: 0.6329 - val_accuracy: 0.6235
Epoch 80/80
686/686 [==============================] - 2s 2ms/step - loss: 0.6349 - accuracy: 0.6233 - val_loss: 0.6338 - val_accuracy: 0.6235

## Compile, Train and Evaluate the Model

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.6407 - accuracy: 0.6230 - 291ms/epoch - 1ms/step
Loss: 0.6406562328338623, Accuracy: 0.6230320930480957

In [ ]:
#Comment : Accuracy of the Charity_data for the Charity organization is 62.3 %. Even though accuracy is not great, but can be used this modelfor fund raising in some extent.

In [18]:
# Save the model to an HDF5 file
model_filename = 'AlphabetSoupCharity.h5'
nn.save(model_filename)